<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Creator</title>
    <style>
        option {
            position: relative;
        }
        img {
            position: absolute;
            z-index: 1000;
        }
    </style>
</head>
<body>
    <div id="account-name">
        <label for="account-name-input">Account Name</label>
        <input id="account-name-input" type="text" required>
    </div>
    <div id="account-no">
        <label for="account-no-input">Account No</label>
        <input id="account-no-input" type="text" required>
    </div>
    <div id="amount">
        <label for="amount-input">Amount</label>
        <input id="amount-input" type="text" required>
    </div>
    <div id="info">
        <label for="info-input">Info</label>
        <input id="info-input" type="text" required>
    </div>
    <div id="bank">
        <label for="bank-input">Bank</label>
        <select id="bank-input">
            <option th:each="bank : ${banks}" th:value="${bank.bin}"><img th:src="${bank.logo}">[[${bank.name}]]</option>
        </select>
    </div>
    <button onClick="generateQr()">Generate</button>
    <img src="" id="qr-code" />
</body>
</html>
<script>
    async function generateQr() {
        const body = {
            accountName: document.getElementById("account-name-input").value,
            accountNo: document.getElementById("account-no-input").value,
            acqId: document.getElementById("bank-input").value,
            amount: document.getElementById("amount-input").value,
            addInfo: document.getElementById("info-input").value,
            logo: "",
            template: "compact",
            theme: "compact"
        }

        console.info(body);
        const response = await fetch('http://localhost:8080/qr/generate', {
            method: 'POST',
            body: JSON.stringify(body),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        const responseJson = await response.json();
        console.info(responseJson);
        if (responseJson.code === "00") {
            document.getElementById('qr-code').src = responseJson.data.qrDataURL;
        } else {
            document.getElementById('qr-code').src = "";
            alert(responseJson.desc);
        }

    }
</script>